.TitleFont {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 80px;
  color: Black;
}
.TitleFontDark {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 80px;
  color: White;
}
.BodyFont {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.TextCenter {
  text-align: center;
}
.DefaultButton {
  background-color: #FFFFFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  font-family: "Raleway", sans-serif;
  background-color: Pink;
  color: Black;
  text: "Default Button";
}
.flex-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.flex-container button {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.flex-container settngs {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.SmallPrint {
  font-size: 20px;
}
#DayMode:hover {
  background-color: White;
  color: Black;
}
#DayModeBody {
  color: white;
}
#ScoreDay {
  color: White;
}
#HeadDay {
  color: White;
}
#TestDay {
  color: White;
}
table {
  font-family: "Raleway", sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td {
  font-family: "Raleway", sans-serif;
  padding: 8px;
  font-weight: 100;
  font-size: 30px;
  border: 1px solid #ddd
}
th {
  font-size: 50px;
  padding: 8px;
  font-weight: 100;
  text-align: center;
  border: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
  border: 1px solid red;
}
th:hover{
  animation:
}
#reveal {
  color: white
}
#a {
  align: center;
  position: relative;
  animation: moveOdd 5s;
  animation-duration: 5s;
}
#b {
  position : relative;
  align: center;
  animation: moveEven 5s;
  animation-duration: 5s;
}
#c {
  position: relative;
  align: center;
  animation-duration: 5s;
  animation: moveOdd 5s;
}
@keyframes moveOdd {
  0% {left: -50%;}
  25% {left: 50%;}
  50% {left: -25%;}
  75% {left: 25%;}
  100% {left: 0%;}
}
@keyframes moveEven {
  0% {left: 50%;}
  25% {left: -50%;}
  50% {left: 25%;}
  75% {left: -25%;}
  100% {left: 0%;}
}
