.Plus {
  background-color: #315FB1;
  color: White;
  border: 2px solid #FFFFFF;
}
#PlusDark {
  border: 2px solid black;
}
.Plus:hover {
  background-color: #FFFFFF;
  color: Black;
  border: 2px solid #315FB1;
}
#PlusDark:hover {
  border: 2px solid #315FB1;
}
.Minus {
  background-color: #D13F3F;
  color: White;
  border: 2px solid #FFFFFF;
}
#MinusDark {
  border: 2px solid black;
}
.Minus:hover {
  background-color: #FFFFFF;
  color: Black;
  border: 2px solid #D13F3F;
}
#MinusDark:hover {
  border: 2px solid #D13F3F;
}
.Reset {
  background-color: #338937;
  color: White;
  border: 2px solid #FFFFFF;
}
#ResetDark {
  border: 2px solid black;
}
.Reset:hover {
  background-color: #FFFFFF;
  color: Black;
  border: 2px solid #338937;
}
#ResetDark:hover {
  border: 2px solid #338937;
}
.Cookie {
  background-color: #B52CB3;
  color: White;
  border: 2px solid #FFFFFF;
}
#CookieDark {
  border: 2px solid black;
}
.Cookie:hover {
  background-color: #FFFFFF;
  color: Black;
  border: 2px solid #B52CB3;
}
#CookieDark:hover {
  border: 2px solid #B52CB3;
}