.Cookie {
  background-color: #B52CB3;
  color: White;
  border: 2px solid #FFFFFF;
}
#CookieDark {
  border: 2px solid black;
}
.Cookie:hover {
  background-color: #FFFFFF;
  color: Black;
  border: 2px solid #B52CB3;
}
#CookieDark:hover {
  border: 2px solid #B52CB3;
}